
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    {% load static %}
  
 <link rel="stylesheet" href="{% static 'assets/css/style.bundle.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'assets/css/style.bundle.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.dark.bundle.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.dark.bundle.rtl.css' %}"> {% endcomment %}
    <script src="{% static 'assets/js/scripts.bundle.js' %}"></script>
    <script src="{% static 'assets/js/widgets.bundle.js' %}"></script> 
   {% comment %} <img src="{% static 'assets/media/demo/2600x1200/bg-10.png' %}" alt="My image"> {% endcomment %}
  
</head>
<body>

    
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
 
</body>
<script src="{% static 'assets/plugins/global/plugins.bundle.js' %}"></script>
		
		<!--end::Global Javascript Bundle-->
		<!--begin::Vendors Javascript(used for this page only)-->
		<script src="{% static 'assets/plugins/custom/datatables/datatables.bundle.js' %}"></script>
		<!--end::Vendors Javascript-->
		<!--begin::Custom Javascript(used for this page only)-->
		<script src="{% static 'assets/js/custom/apps/customers/add.js' %}"></script>
		<script src="{% static 'assets/js/widgets.bundle.js'%}"></script>
        <script src="{% static 'assets/js/scripts.bundle.js'%}"></script>
		<script src="{% static 'assets/js/custom/widgets.js' %}"></script>
		<script src="{% static 'assets/js/custom/apps/chat/chat.js' %}"></script>
		<script src="{% static 'assets/js/custom/utilities/modals/create-app.js' %}"></script>
		<script src="{% static 'assets/js/custom/utilities/modals/users-search.js' %}"></script>
		<!--end::Custom Javascript-->
        <link href="{% static 'assets/plugins/custom/cropper/cropper.bundle.css' %}" rel="stylesheet" type="text/css" />
        <script src="{% static 'assets/plugins/custom/cropper/cropper.bundle.js' %}"></script>

        <link href="{% static 'assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
        <script src="{% static 'assets/plugins/global/plugins.bundle.js' %}"></script>
     
</html>
