{% extends 'common/base.html' %}

{% block content %}
{% load static %}

<body id="id" class="app-blank" style="background-image: url('{% static "assets/media/demo/2600x1200/bg-10.png"%}');">
    <div class="flex" id="kt_app_root">
        <div class="d-flex flex-column flex-lg-row flex-column-fluid">
            <div class="d-flex flex-column flex-lg-row-fluid w-lg-50 p-10 order-2 order-lg-1">
                <div class="d-flex flex-center flex-column flex-lg-row-fluid items-center justify-center mt-20">
                    <div class="card w-lg-400px p-10" style="overflow: hidden; position: relative;">
                        <form id="kt_docs_formvalidation_text" class="form w-100" novalidate="novalidate" id="employee_signup_form" method="POST" action="{% url 'employee_signup' %}">
                            {% csrf_token %}
                            <!-- Video feed section using Canvas -->
                            <div class="video-container mb-8 mt-0" style="position: relative; width: 100%; height: 0; padding-bottom: 56.25%;">
                                <canvas id="canvas" class="rounded" style="position: absolute; top: 80%; left: 50%; transform: translate(-50%, -50%) rotate(360deg) scaleX(-1);"></canvas>
                            </div>
                            <div class="smile" id="smile"></div>
                            <div class="spacer" style="height: 180px;"></div>
                            
                            <div class="p-8">
                                <div class="fv-row mb-6">
                                    <input placeholder="Enter your name" name="empname" type="text" class="form-control bg-transparent hover-input" required />
                                    <div id="name_error" class="text-danger mt-1" style="display: none;">Please enter a valid name</div>
                                </div>
                                <div class="fv-row mb-6">
                                    <input placeholder="Enter your phone number" name="phone" type="tel" class="form-control bg-transparent hover-input" maxlength="10"
                                    oninput="this.value = this.value.replace(/[^0-9]/g, '')" required />
                                    <div id="phone_error" class="text-danger mt-1" style="display: none;">Please enter a valid 10-digit phone number.</div>
                                </div>
    
                                <input type="hidden" name="captured_image" id="captured_image">
    
                                <div class="d-grid mb-6">
                                    <button type="button" id="capture_button" class="btn btn-primary hover-input">
                                        Register
                                    </button>
                                </div>
                                <div class="text-gray-500 text-center fw-semibold fs-6">
                                    <a href="{% url 'employee_compare' %}" class="link-primary fw-semibold hover-input">back</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .smile {
            width: 82%;
            left: 50%;
            border: 2px dashed white;
            position: absolute;
            transform: translate(-50%, -60%);
            z-index: 999;
            height: 35vh;
            top: 34%;
        }
    </style>

    <script>
        const canvas = document.getElementById("canvas");
        const context = canvas.getContext("2d");

        navigator.mediaDevices.getUserMedia({ video: true })
            .then((stream) => {
                const video = document.createElement("video");
                video.srcObject = stream;
                video.play();

                video.addEventListener("loadedmetadata", () => {
                    canvas.width = video.videoWidth;
                    canvas.height = video.videoHeight;
                    drawVideoToCanvas(video);
                });
            });

        function drawVideoToCanvas(video) {
            function render() {
                if (video.readyState === video.HAVE_ENOUGH_DATA) {
                    context.drawImage(video, 0, 0, canvas.width, canvas.height);
                }
                requestAnimationFrame(render);
            }
            render();
        }

        document.getElementById("capture_button").addEventListener("click", (event) => {
            const phoneInput = document.querySelector('input[name="phone"]');
            const nameInput = document.querySelector('input[name="empname"]');
            const phoneNumber = phoneInput.value.trim();
            const nameCheck = nameInput.value.trim();
            const phoneError = document.getElementById("phone_error");
            const nameError = document.getElementById("name_error");
        
            const nameRegex = /^(?![ .])[a-zA-Z .]+(?<! )$/; 
            const phoneRegex = /^(0|91)?[6-9][0-9]{9}$/; 
        
            if (!nameCheck) {
                nameError.style.display = "block";
                nameError.textContent = "Name is required.";
            } else if (!nameRegex.test(nameCheck)) {
                nameError.style.display = "block";
                nameError.textContent = "Please enter a valid name";
            } else {
                nameError.style.display = "none";
            }
        
            if (!phoneNumber) {
                phoneError.style.display = "block";
                phoneError.textContent = "Phone number is required.";
            } else if (!phoneRegex.test(phoneNumber)) {
                phoneError.style.display = "block";
                phoneError.textContent = "Please enter a valid 10-digit phone number.";
            } else {
                phoneError.style.display = "none";
            }
        
            if (nameRegex.test(nameCheck) && phoneRegex.test(phoneNumber)) {
                // Calculate the coordinates and dimensions of the "smile" area
                const smile = document.getElementById("smile");
                const rect = smile.getBoundingClientRect();
                const scaleX = canvas.width / canvas.getBoundingClientRect().width;
                const scaleY = canvas.height / canvas.getBoundingClientRect().height;
                const x = (rect.left - canvas.getBoundingClientRect().left) * scaleX;
                const y = (rect.top - canvas.getBoundingClientRect().top) * scaleY;
                const width = rect.width * scaleX;
                const height = rect.height * scaleY;

               
                const imageData = context.getImageData(x, y, width, height);

                // Create a new canvas to draw the extracted image data
                const newCanvas = document.createElement("canvas");
                newCanvas.width = width;
                newCanvas.height = height;
                const newContext = newCanvas.getContext("2d");
                newContext.putImageData(imageData, 0, 0);

                // Convert the new canvas to a data URL
                const dataUrl = newCanvas.toDataURL("image/png");
                document.getElementById("captured_image").value = dataUrl;

                document.getElementById("kt_docs_formvalidation_text").submit();
            }
        });
    </script>
</body>

{% endblock %}
